src/main/resources/SyncConfig.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3school.com.cn" xmlns="http://www.w3school.com.cn"
>

	<xs:element name="SyncConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="syncPolicy" type="xs:string" />
				<xs:element name="syncDuration" type="xs:string" />
				<xs:element name="syncInterval" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>